@import "tailwindcss";
@import "@nuxt/ui";

#__nuxt {
  @apply h-screen flex flex-col;
}

@theme static {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary: #0b1d51;
  --color-primary-50: #ecf7ff;
  --color-primary-100: #d5eaff;
  --color-primary-200: #b4dcff;
  --color-primary-300: #045eff;
  --color-primary-400: #0c359c;
  --color-primary-500: #0b1d51;
  --color-primary-600: #091844;
  --color-primary-700: #0a1946;
  --color-primary-800: #06102e;
  --color-primary-900: #050c24;
  --color-primary-950: #040b20;
}
